<div class="app-header-container clearfix">
  <div class="pull-left">
    <figure>
      <blockquote class="blockquote">
        <p>{{ brand }}</p>
      </blockquote>
      <figcaption class="blockquote-footer small">
        {{ currentApiName }}
      </figcaption>
    </figure>
  </div>
  <div class="pull-right">
    <div class="btn-group" role="group" *ngIf="!isLoggedIn">
      <button class="btn btn-primary" (click)="login()">Login</button>
      <div class="btn-group" role="group">
        <button id="selectRegionBtn" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          {{getRegionName(currentRegion)}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="selectRegionBtn">
          <li *ngFor="let r of availableRegions; let ix = index;">
            <a class="dropdown-item" (click)="requestRegion(ix)">{{getRegionName(r)}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="dropdown" *ngIf="isLoggedIn">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        {{currentUser.nickname}}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="javascript:void(0)" (click)="onRequestUserProfile.next()">Profile</a></li>
        <li><a class="dropdown-item" href="javascript:void(0)" (click)="onLogoffRequested.next()">Log out</a></li>
      </ul>
    </div>
  </div>
</div>
