<div class="app-header-container align-horizontally">
  <div class="brand-info">
    <figure>
      <blockquote class="blockquote">
        <p>{{ brand }}</p>
      </blockquote>
      <figcaption class="blockquote-footer small">
        {{ currentApiName }}
      </figcaption>
    </figure>
  </div>
  <div class="account-info">
    <app-drop-down-button
      *ngIf="!isLoggedIn"
      text="Login"
      [selectedItem]="{ id: currentRegion, name: currentRegion }"
      [dropDownItems]="availableRegionItems"
      [addonWidth]="70"
      (itemSelected)="requestRegion($event.id)"
      (clicked)="login()"
    >
    </app-drop-down-button>
    <button *ngIf="isLoggedIn" class="button" (click)="onLogoffRequested.next()">Logoff</button>
  </div>
</div>
