<div class="app-header-container align-horizontally">
  <div class="brand-info">
    <h5>WoT Dashboard</h5>
  </div>
  <div class="account-info">
    <app-drop-down-button
      *ngIf="!isLoggedIn"
      text="Login"
      [selectedItem]="{ id: currentRegion, name: currentRegion }"
      [dropDownItems]="availableRegionItems"
      (itemSelected)="requestRegion($event.id)"
      (clicked)="login()"
    >
    </app-drop-down-button>
    <app-drop-down-button
      *ngIf="isLoggedIn"
      [text]="currentUser.nickname"
      [dropDownItems]="userActions"
      [addonWidth]="30"
      [addonTemplateRef]="userActionsTemplateRef"
    ></app-drop-down-button>
  </div>
</div>

<ng-template #userActionsTemplateRef>
  <div>
    <i class="fa fa-cog"></i>
  </div>
</ng-template>
