@import "~src/assets/variables";

.account-attributes-container {
  .attributes {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 672px) {
    .attributes {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }
}
