<div class="account-attributes-container" *ngIf="profile">
  <div class="ban" *ngIf="profile.private?.banTime">
    <div class="alert alert-warning" role="alert">
      <strong>Banned!</strong>
      <p>
        {{profile.private.banInfo}}
      </p>
      <p>
        Valid untill: {{ profile.private.banTime | unixDate | date:'short' }}
      </p>
    </div>
  </div>
  <div class="attributes">
    <div *ngIf="profile.private" class="text-muted text-sm credits-info">
      Gold {{profile.private.gold | number}},
      Bonds {{profile.private.bonds | number}},
      Credits {{profile.private.credits | number}},
      XP {{profile.private.freeXp | number}}
    </div>
    <div *ngIf="profile.private" class="text-muted battle-lifetime">
      Battle lifetime: {{ profile.private?.battleLifeTime | secondsToTime }}
      <br *ngIf="isPremium">
      <span *ngIf="isPremium">
      Premium expires: {{profile.private?.premiumExpiresAt | unixDate | date:'short'}}
    </span>
    </div>
  </div>
</div>
