@mixin noUserSelect() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin focusShadow() {
  border: 1px solid $mainColor;
  box-shadow: -1px -1px 3px 1px lighten($mainColor, 10),
    0 1px 3px 1px lighten($mainColor, 10),
    1px 0 3px 1px lighten($mainColor, 10);
}
