@import "./variables";

@mixin colorizeButton($clr, $bg) {
  background: $bg;
  color: $clr;
}

@mixin focusShadow() {
  border: 1px solid $mainColor;
  box-shadow: -1px -1px 3px 1px lighten($mainColor, 10),
  0 1px 3px 1px lighten($mainColor, 10),
  1px 0 3px 1px lighten($mainColor, 10);
}

.button {
  @include colorizeButton($mainColor, $bgColor);
  outline: none;
  border: 3px solid transparent;

  flex: 0 0 auto;
  box-sizing: border-box;
  font-weight: 500;
  height: 32px;
  width: 64px;
  cursor: pointer;

  &:hover {
    background-color: darken($mainColor, 10);
  }

  &:focus {

    background: lighten($mainColor, 5);
    @include focusShadow();
  }
}

.muted {
  color: $muted;
}
