@import "./variables";

@mixin colorizeButton($clr, $bg) {
  background: $bg;
  color: $clr;
}

@mixin focusShadow() {
  border: 1px solid $mainColor;
  box-shadow: -1px -1px 3px 1px lighten($mainColor, 10),
  0 1px 3px 1px lighten($mainColor, 10),
  1px 0 3px 1px lighten($mainColor, 10);
}

.button {
  @include colorizeButton($mainColor, $bgColor);
  outline: none;
  box-sizing: border-box;
  background: $mainColor;
  height: 2.5em;
  font-size: .8em;
  color: $bgColor;
  border: none;
  cursor: pointer;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 0;

  &:hover {
    background-color: darken($mainColor, 10);
  }

  &:focus {
    background: lighten($mainColor, 5);
    @include focusShadow();
  }
}

.muted {
  color: $muted;
}

.align-horizontally {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.clearfix {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}
