$bs-blue: #0d6efd;
$bs-indigo: #6610f2;
$bs-purple: #6f42c1;
$bs-pink: #d63384;
$bs-red: #dc3545;
$bs-orange: #fd7e14;
$bs-yellow: #ffc107;
$bs-green: #198754;
$bs-teal: #20c997;
$bs-cyan: #0dcaf0;
$bs-white: #fff;
$bs-gray-light: #b3b3b3;
$bs-gray: #6c757d;
$bs-gray-dark: #343a40;
$bs-primary: #4e87dc;
$bs-secondary: #6c757d;
$bs-success: rgb(163, 198, 68);
$bs-info: #0dcaf0;
$bs-warning: #ffc107;
$bs-danger: #dc3545;
$bs-light: #f8f9fa;
$bs-dark: #212529;

$bgColor: $bs-white;
$mainColor: $bs-primary;
$accentColor: rgb(57, 194, 215);
$muted: #6c757d;

$smallScreen: 576px;
$mediumScreen: 768px;
$largeScreen: 992px;
$extraLargeScreen: 1200px;

$control-height: 2.4rem;
