<div class="card profile-brief-stat-card w-100">
  <div class="card-body">
    <h5 class="card-title">Wins / Losses</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{wins}} / {{losses}} ({{winRate | percent:'1.2-2'}})</h6>
    <div class="card-text">
      <div class="d-table w-100">
        <div class="d-table-row w-100">
          <div class="d-table-cell w-50 text-secondary">Battles</div>
          <div class="d-table-cell ps-1 text-end w-50">{{battles | number}}</div>
        </div>
        <div class="d-table-row w-100">
          <div class="d-table-cell w-50 text-secondary">Survived ({{survivedRatio | percent:'1.2-2'}})</div>
          <div class="d-table-cell ps-1 text-end w-50">{{survived | number}}</div>
        </div>
        <div class="d-table-row w-100">
          <div class="d-table-cell w-50 text-secondary">Average XP</div>
          <div class="d-table-cell ps-1 text-end w-50">{{profile?.statistics?.all?.battleAvgXp || 0 | number}}</div>
        </div>
        <div class="d-table-row w-100">
          <div class="d-table-cell w-50 text-secondary">Damage ratio ({{damageRatio | percent:'1.2-2'}})</div>
          <div class="d-table-cell ps-1 text-end w-50">
            {{damageDealt | number}} / {{damageReceived | number}}
          </div>
        </div>
        <div class="d-table-row w-100">
          <div class="d-table-cell w-50 text-secondary">Frags</div>
          <div class="d-table-cell ps-1 text-end w-50">
            {{profile?.statistics?.all?.frags || 0 | number}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
