<div class="sticker profile-brief-stat-card">
  <h5 class="sticker-header">Wins / Losses</h5>
  <h6 class="sticker-title muted">{{wins}} / {{losses}} ({{winRate | percent:'1.2-2'}})</h6>
  <div class="sticker-text">
    <div class="flex-table">
      <div class="table-row">
        <div class="table-cell muted">Battles</div>
        <div class="table-cell">{{battles | number}}</div>
      </div>
      <div class="table-row">
        <div class="d-table-cell muted">Survived</div>
        <div class="d-table-cell">{{survived | number}}</div>
      </div>
      <div class="table-row">
        <div class="table-cell muted">Average XP</div>
        <div class="table-cell">{{profile?.statistics?.all?.battleAvgXp || 0 | number}}</div>
      </div>
      <div class="table-row">
        <div class="table-cell muted">Damage ratio</div>
        <div class="table-cell damage-ratio-cell">
          <i class="fa fa-arrow-up"></i>
          <span class="damage-dealt-text">{{damageDealt | number}}</span>
          <span class="ratio-separator">/</span>
          <i class="fa fa-arrow-down"></i>
          <span class="damage-received-text">{{damageReceived | number}}</span>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell muted">Frags</div>
        <div class="table-cell">
          {{profile?.statistics?.all?.frags || 0 | number}}
        </div>
      </div>
    </div>
  </div>
</div>
