@import "~src/assets/variables";

.profile-brief-stat-card {
  height: 200px;
}

.damage-ratio-cell {
  white-space: nowrap;

  .fa-arrow-up {
    color: $bs-success;
    margin-right: 4px;
  }
  .fa-arrow-down {
    color: $bs-danger;
    margin-right: 4px;
  }
}
