@import "~src/assets/variables";

.parent-container {
  padding: 15px;
  vertical-align: center;
  margin-left: auto;

  .label-host {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }
  .svg-host {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .label {
    white-space: nowrap;
  }

  .good {
    color: $bs-success;
  }

  .bad {
    color: $bs-danger;
  }
}
