<div class="account-search-container">
  <div class="header-container">
    <input
      class="search-text-box app-text-box"
      name="searchText"
      type="search"
      placeholder="Search"
      [ngModel]="searchText"
      (ngModelChange)="onTextChange($event)"
      aria-label="Search"
    />
    <button (click)="search()" [disabled]="searchText?.length < 3" class="app-button">
      Search
    </button>
  </div>
  <div class="grid-container">
    <div class="grid-row grid-header-row">
      <div class="grid-cell grid-header-cell account-cell">Account #</div>
      <div class="grid-cell grid-header-cell name-cell">Nickname</div>
      <div class="grid-cell grid-header-cell createdAt-cell">Created At</div>
      <div class="grid-cell grid-header-cell games-cell">Registered games</div>
    </div>
    <ng-container *ngIf="this.rowData$ | async as data">
      <ng-container *ngIf="data.length > 0; else noRows">
        <div class="grid-row" *ngFor="let account of data">
          <div class="grid-cell account-cell">{{ account.account_id }}</div>
          <div class="grid-cell name-cell">
            <div class="account-name-action-cell">
              <div class="action-text">{{ account.nickname }}</div>
              <span
                class="action-icon fa fa-address-book"
                aria-hidden="true"
                [ngClass]="{inactive: !isWotProfile(account.games)}"
                (click)="openProfile(account.account_id)"
              >
              </span>
            </div>
          </div>
          <div class="grid-cell createdAt-cell">{{ account.created_at | unixDate | date: 'short' }}</div>
          <div class="grid-cell games-cell">{{ resolveGameName(account.games) }}</div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
<app-loading-overlay [isLoading]="loading$ | async"></app-loading-overlay>
<ng-template #noRows>
  <div class="no-rows-overlay">No rows found, please refine your search.</div>
</ng-template>
