<div class="account-profile-container pt-2 full-height" *ngIf="selectedProfile$ | async as profile">
  <div class="row">
    <div class="col-xl-4 col-md-6 col-sm-12">
      <app-account-info-card [profile]="profile"></app-account-info-card>
    </div>
    <div class="col-xl-4 col-md-6 col-sm-12">
      <app-account-brief-stat-card [profile]="profile"></app-account-brief-stat-card>
    </div>
    <div class="col-xl-4 col-md-6 col-sm-12">
      <app-max-results-card [profile]="profile"></app-max-results-card>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 info-graph">
      <app-account-profile-info-graph-card [profile]="profile"></app-account-profile-info-graph-card>
    </div>
  </div>
</div>
