<div class="account-frags-container">
  <div class="frags-grid grid">
    <div class="grid-header-row grid-row">
      <div class="grid-cell grid-header-cell name-cell">Tank name</div>
      <div class="grid-cell grid-header-cell nation-cell">Nation</div>
      <div class="grid-cell grid-header-cell tier-cell">Tier</div>
      <div class="grid-cell grid-header-cell count-cell">Frags count</div>
    </div>
    <div class="grid-row" *ngFor="let tank of tanks$ | async">
      <div class="gird-cell name-cell">{{tank.name}}</div>
      <div class="gird-cell nation-cell">{{tank.nation}}</div>
      <div class="gird-cell tier-cell">{{tank.tier}}</div>
      <div class="gird-cell count-cell">{{tank.count}}</div>
    </div>
  </div>
</div>
