<div class="account-profile-page">
  <app-tabs [tabs]="tabs$ | async" [activeTab]="activeTab$ | async" (selected)="onTabSelected($event)"></app-tabs>

  <ng-container *ngIf="selectedProfile$ | async as profile">
    <div class="tab-content" *ngIf="activeTab$ | async as activeTab" [ngSwitch]="activeTab.key">
      <div class="account-profile-content" *ngSwitchCase="'profile'">
        <app-account-profile [profile]="profile"></app-account-profile>
      </div>

      <div class="frags-container" *ngSwitchCase="'frags'">
        <app-account-frags
          [profile]="profile"
          [region]="region"
          [language]="language$ | async"
        ></app-account-frags>
      </div>
    </div>
  </ng-container>
</div>
