<div class="account-profile-container" *ngIf="selectedProfile$ | async as profile">
  <app-tabs [tabs]="tabs$ | async" [activeTab]="activeTab$ | async" (selected)="onTabSelected($event)"></app-tabs>

  <div class="account-profile-content" *ngIf="activeTab$ | async as activeTab" [ngSwitch]="activeTab.key">
    <div class="profile-content" *ngSwitchCase="'profile'">
      <div class="profiles-attributes">
        <app-account-attributes [profile]="profile"></app-account-attributes>
      </div>
      <div class="widget-row">
        <div class="widget-placeholder">
          <app-account-info-card [profile]="profile"></app-account-info-card>
        </div>
        <div class="widget-placeholder">
          <app-account-brief-stat-card [profile]="profile"></app-account-brief-stat-card>
        </div>
        <div class="widget-placeholder">
          <app-max-results-card [profile]="profile"></app-max-results-card>
        </div>
      </div>
      <div class="profile-charts">
        <app-account-profile-info-graph-card [profile]="profile"></app-account-profile-info-graph-card>
      </div>
    </div>
  </div>
</div>
