<div class="navigation">
  <div class="list">
    <ng-container *ngFor="let item of items; let ix = index">
      <a
        class="list-item"
        *ngIf="!hide(item) && (item?.url || item?.getUrl)"
        [attr.data-index]="ix"
        [ngClass]="{'active': item.active}"
        (click)="onNavigationClick(item, ix)"
      >
        <div class="list-item-content">
          <span [ngClass]="item.iconClass" class="icon"></span>
          <span class="text">{{item.name}}</span>
        </div>
      </a>
      <a
        class="list-item"
        *ngIf="!hide(item) && !item?.url && !item?.getUrl"
        [attr.data-index]="ix"
        [ngClass]="{'active': item.active}"
        (click)="item?.command()"
      >
        <div class="list-item-content">
          <span [ngClass]="item.iconClass" class="icon"></span>
          <span class="text">{{item.name}}</span>
        </div>
      </a>
    </ng-container>
    <div class="indicator"></div>
  </div>
</div>
