.search-box {
  width: 320px;
}

.nav-link {
  font-family: Calibri, sans-serif;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .link-text {
    font-size: .65em;
    padding-top: .5em;
    letter-spacing: .2em;
  }
}
