@import '~src/assets/mixins';
@import '~src/assets/variables';

.search-box-container {
  position: relative;
  padding: 0;
  font-size: smaller;
  height: 2.5em;
  display: flex;
  justify-content: space-between;
  background-color: $bgColor;

  .action-icon {
    height: 24px;
    width: 24px;
    padding-top: 3px;
    text-align: center;
    margin: auto auto;
    padding-right: 12px;
    color: lightgray;
    cursor: pointer;
    .fa {
      @include noUserSelect();
    }
  }

  input[type='text'] {
    position: relative;
    padding: 3px;
    background-color: $bgColor;
    border: none;
    outline: none;
    flex: auto;

    &:active,
    &:hover,
    &:focus {
      outline: none;
      border: none;
    }
  }
}

.drop-down-area {
  min-height: 45px;
  min-width: 230px;
  z-index: 1000;

  .drop-down-container {
    margin: 10px 20px;

    .show-all-btn {
      cursor: pointer;
    }

    &.welcome-container {
      font-size: small;
      color: gray;
    }

    &.search-container {
      .search-item {
        @include noUserSelect();

        &.active {
          background-color: lightgray;
        }

        &:hover {
          background-color: lightgray;
          cursor: pointer;
        }

        .item-icon {
          flex: 0 0 24px;
        }

        .item-name {
          flex: auto;
          text-overflow: ellipsis;
        }

        .item-id {
          flex: 0 0 85px;
        }

        .search-item-id {
          text-align: end;
          font-size: small;
        }
      }
    }
  }
}

.search-box-container {
  padding: 0;
}
