<div class="drop-down-button-container">
  <div class="buttons">
    <button class="click-button" *ngIf="!dropDownOnly" (click)="onClick()">{{text}}</button>
    <div class="click-button button-addon" (click)="onAddonClick()" [style.width]="addonWidth ? (addonWidth + 'px') : 'auto'">
      <ng-container
        [ngTemplateOutlet]="addonTemplateRef || defaultAddonTemplateRef"
        [ngTemplateOutletContext]="{ $implicit: selectedItem }"
      ></ng-container>
    </div>
  </div>
  <div class="drop-down-list">
    <div class="drop-down-item" [ngClass]="{'active': isActiveItem(item)}" *ngFor="let item of dropDownItems" (click)="onSelect(item)">
      <a href="javascript:void(0)" class="link drop-down-item-link">
          <span class="drop-down-item-name">{{item?.name}}</span>
      </a>
    </div>
  </div>
</div>

<ng-template #defaultAddonTemplateRef>
  <span class="button-addon-text">{{selectedItemText}}</span>
  <i class="fa fa-caret-down" aria-hidden="true"></i>
</ng-template>
