@import "~/src/assets/variables";
@import "~/src/assets/mixins";
@import "~/src/assets/utilities";

@mixin focusShadow() {
  box-shadow: -1px -1px 3px 1px lighten($mainColor, 10),
  0 1px 3px 1px lighten($mainColor, 10),
  1px 0 3px 1px lighten($mainColor, 10);
}

.drop-down-button-container {
  position: relative;
  display: inline-block;
  border: 1px solid transparent;
  font-size: .8em;
  height: 2.5em;

  &:focus-within {
    border: 1px solid $mainColor;
    @include focusShadow();

    .button {
      background: lighten($mainColor, 5);
    }
  }

  .buttons {
    position: relative;
    display: flex;
    justify-content: center;

    .click-button {
      outline: none;
      cursor: pointer;
      box-sizing: border-box;
      background: $mainColor;
      height: 2.5em;
      color: $bgColor;
      border: none;
      padding: 0 12px;
      margin-right: 0;

      &:hover {
        background-color: darken($mainColor, 10);
      }
    }

    .button-addon {
      display: flex;
      align-items: center;
      justify-content: center;

      border-left: 1px solid lighten($mainColor, 20);
      padding: 0 6px;

      .button-addon-text ~ .fa{
        margin-left: 0.6em;
      }
    }
  }
}

.drop-down-list {
  z-index: 999;
  display: none;
  border: 1px solid $mainColor;
  background: $bgColor;
  position: absolute;
  inset: 2.51em auto auto 0;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  border-radius: 0.25em;
  padding: 0;
  width: 100%;

  .drop-down-item {
    @include noUserSelect();
    padding: .5em 1.6em .5em;
    margin: 0;
    overflow-x: hidden;
    text-overflow: ellipsis;
    user-select: none;
    cursor: pointer;


    &.active {
      background-color: $mainColor;

      .link {
        color: $bgColor;
      }
    }

    .drop-down-item-link {
      overflow-x: hidden;
      white-space: nowrap;
    }

    &:hover {
      background: #ddd;

      .link {
        color: $mainColor;
      }
    }
  }
}

.drop-down-open {
  .drop-down-list {
    display: inline-block;
  }
}

.link {
  color: $mainColor;
  text-decoration: none;

  &:visited, &:active, &:focus {
    color: $mainColor;
    text-decoration: none;
  }
}
