<div class="home-page-container container full-height pt-2">
  <div class="sticker">
    <div class="sticker-body">
      <h5 class="sticker-title">Personal statistics</h5>
      <p class="sticker-text">Please log in with your Wargaming.net account using secure Opend ID protocol to analyze your statistics</p>
    </div>
  </div>
  <div class="sticker">
    <div class="sticker-body">
      <h5 class="sticker-title">Account search</h5>
      <p class="sticker-text">Use account search page to find players in your region by nick name</p>
      <a routerLink="/accounts" class="app-button">Go to search</a>
    </div>
  </div>
</div>
