<div class="servers-container">
  <div class="header">
    <h3>
      WGN Servers
      <small class="text-muted">Healthy status</small>
    </h3>
  </div>
  <div class="reports">
    <div class="scope">
      <div class="title">World Of Tanks</div>
      <div class="grid-row grid-header-row">
        <div class="server-name grid-cell grid-header-cell">Server Name</div>
        <div class="players-online grid-cell grid-header-cell">Players Online</div>
      </div>
      <div class="grid-row" *ngFor="let srv of servers$('wot') | async">
        <div class="server-name grid-cell" [attr.data-value]="getRatio$('wot', srv.players_online) | async">
          <span class="indicator" [style.width]="(getRatio$('wot', srv.players_online) | async) + '%'"></span>
          {{srv.server}}
        </div>
        <div class="players-online grid-cell">{{srv.players_online}}</div>
      </div>
    </div>
<!--    <div class="scope">-->
<!--      <h6>World Of Tanks (Blitz)</h6>-->
<!--      <div class="grid-row grid-header-row">-->
<!--        <div class="server-name grid-cell">Server Name</div>-->
<!--        <div class="players-online grid-cell">Players Online</div>-->
<!--      </div>-->
<!--      <div class="grid-row" *ngFor="let srv of servers$('wotb') | async">-->
<!--        <div class="server-name grid-cell">{{srv.server}}</div>-->
<!--        <div class="players-online grid-cell">{{srv.players_online}}</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="scope">-->
<!--      <h6>World of Warships</h6>-->
<!--      <div class="grid-row grid-header-row">-->
<!--        <div class="server-name grid-cell">Server Name</div>-->
<!--        <div class="players-online grid-cell">Players Online</div>-->
<!--      </div>-->
<!--      <div class="grid-row" *ngFor="let srv of servers$('wows') | async">-->
<!--        <div class="server-name grid-cell">{{srv.server}}</div>-->
<!--        <div class="players-online grid-cell">{{srv.players_online}}</div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
