@import "~src/assets/variables";
[data-value] {
  --x: attr(data-value);
}

.servers-container {
  margin: 0 auto;
  width: 50%;
}

.header {
  margin-top: 2em;
}

.scope {
  margin-top: 1em;
  width: 420px;

  .title {
    display: flex;
    justify-content: space-around;
    font-size: larger;
    font-weight: bolder;
    padding-bottom: 1em;
  }

  .server-info {
    border-bottom: 1px solid #ddd;
    padding: 6px 0;
  }

  .grid-cell {
    padding: 6px 0;
    position: relative;

    .indicator {
      background: $mainColor;
      opacity: .5;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }

  .grid-row {
    position: relative;
    display: flex;
    color: $bs-gray;
    font-size: smaller;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-right: 20px;
    border-bottom: 1px solid #ddd;
    &:hover:not(.grid-header-row) {
      background: #eee;
    }
  }

  .grid-header-row {
    font-weight: bolder;
    border-bottom: 2px solid gray;
  }

  .server-name {
    flex-basis: 70%;
  }

  .players-online {
    flex-grow: 1;
    border-left: 1px solid #ddd;
    text-align: right;
  }
}
