.grid {
  .grid-row {
    .grid-cell {
      &:first-child {
        flex: 1 1 auto;
        width: 180px;
      }

      &:nth-child(2), &:nth-child(3) {
        flex: 0 0  auto;
        text-align: right;
        font-size: 0.8em;
        width: 100px;
      }
    }
  }
}
