.grid {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  .grid-row {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    height: 24px;
    border-bottom: 1px solid lightgray;

    &:hover:not(.grid-header-row) {
      background: #eee;
    }

    .grid-cell {
      margin: 0;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      padding-right: 3px;
      &:not(:first-child) {
        border-left: 1px solid lightgray;
      }
    }

    .grid-header-cell {
      font-weight: bold;
    }
  }

  .grid-header-row {
    border-bottom: 2px solid black;
  }
}
