@import "~src/assets/variables";

.container {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (min-width: 1400px) {
    justify-content: space-between;
  }

  .chart {
    flex: 1;
    margin: 10px 10px;
  }
}

.card {
  padding: 0;
  margin: 0;

  .card-body {
    padding: 0;
  }
}

@media (max-width: $smallScreen) {
  .card {
    min-width: 440px;
  }
}

@media (min-width: $mediumScreen) {
  .container {
    justify-content: space-between;
  }

  .card {
    min-width: 260px;
    max-width: 260px;
  }
}

@media (min-width: $largeScreen) {
  .container {
    justify-content: space-between;
  }

  .card {
    min-width: 200px;
    max-width: 220px;
  }
}

@media (min-width: 1400px) {
  .card {
    min-width: 260px;
    max-width: 300px;
  }
}
