<div class="charts-container">
  <div class="sticker">
    <app-account-win-rate-chart
      [wins]="profile?.statistics?.all?.wins || 0"
      [losses]="profile?.statistics?.all?.losses || 0"
      [draws]="profile?.statistics?.all?.draws || 0"
    ></app-account-win-rate-chart>
  </div>
  <div class="sticker">
    <app-account-survived-ratio
      [total]="profile?.statistics?.all?.battles || 0"
      [survived]="profile?.statistics?.all?.survivedBattles || 0"
    ></app-account-survived-ratio>
  </div>
  <div class="sticker">
    <app-account-damage-ratio-chart
      [damageDealt]="profile?.statistics?.all?.damageDealt || 0"
      [damageReceived]="profile?.statistics?.all?.damageReceived || 0"
    ></app-account-damage-ratio-chart>
  </div>
  <div class="sticker">
    <app-account-frags-ratio-chart
      [survived]="profile?.statistics?.all?.survivedBattles || 0"
      [battles]="profile?.statistics?.all?.battles || 0"
      [frags]="profile?.statistics?.all?.frags || 0"
    ></app-account-frags-ratio-chart>
  </div>
  <div class="sticker full-width">
    <div class="account-statistics-card-container">
      <app-account-statistics-card class="acc-stat" [profile]="profile"></app-account-statistics-card>
      <app-account-statistics-game-modes class="acc-stat" [profile]="profile"></app-account-statistics-game-modes>
    </div>
  </div>
</div>
