@import "~src/assets/variables";

.charts-container {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 1em;
  row-gap: 1em;

  .sticker {
    flex-grow: 1;
    flex-basis: 22%;

    &.full-width {
      flex-basis: 100%;
      flex-shrink: 0;
    }
  }

  .account-statistics-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 2em;

    .acc-stat {
      flex-shrink: 0;
      margin-top: 8px;
    }
  }
}
